/* ==========================================================
                        HEADER
========================================================== */

.dashboard-header{

    position:fixed;

    top:0;

    left:0;

    right:0;

    height:75px;

    background:#ffffff;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

    z-index:1000;

}

/* ==========================================================
                        LEFT SECTION
========================================================== */

.header-left{

    display:flex;

    align-items:center;

    gap:20px;

}

/* ==========================================================
                        HAMBURGER
========================================================== */

.menu-toggle{

    width:46px;

    height:46px;

    border:none;

    border-radius:12px;

    background:#F5F7FB;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    transition:.3s;

}

.menu-toggle:hover{

    background:#E8F1FF;

    color:#2563EB;

}

/* ==========================================================
                        LOGO
========================================================== */

.logo-section{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo{

    width:48px;

    height:48px;

    object-fit:contain;

}

.logo-text{

    display:flex;

    flex-direction:column;

}

.logo-text h2{

    font-size:22px;

    color:#111827;

    font-weight:700;

}

.logo-text span{

    font-size:13px;

    color:#6B7280;

}

/* ==========================================================
                        RIGHT
========================================================== */
.header-right{

    display:flex;

    align-items:center;

}



/* ==========================================================
                        BADGE
========================================================== */



/* ==========================================================
                        PROFILE
========================================================== */

.profile-section{

    display:flex;

    align-items:center;

    gap:14px;

}

.profile-avatar{

    width:46px;

    height:46px;

    border-radius:50%;

    background:#2563EB;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:700;

    font-size:18px;

}

.profile-info{

    display:flex;

    flex-direction:column;

}

.profile-info h4{

    font-size:15px;

    color:#111827;

}

.profile-info span{

    font-size:13px;

    color:#6B7280;

}

.profile-dropdown{

    width:35px;

    height:35px;

    border:none;

    background:transparent;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

}