#toastContainer{

    position:fixed;

    top:25px;

    right:25px;

    z-index:9999;

}

.toast{

    min-width:320px;

    max-width:380px;

    padding:18px;

    margin-bottom:15px;

    border-radius:12px;

    color:white;

    font-family:Poppins,sans-serif;

    box-shadow:0 15px 40px rgba(0,0,0,.25);

    opacity:0;

    transform:translateX(120px);

    transition:.35s;

}

.toast.show{

    opacity:1;

    transform:translateX(0);

}

.toast.success{

    background:#28a745;

}

.toast.error{

    background:#dc3545;

}

.toast-title{

    font-size:18px;

    font-weight:700;

    margin-bottom:6px;

}

.toast-message{

    font-size:14px;

}